@use '../mixins' as *;

// Event List
.event-list {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  &__empty { @include empty-state; }

  &__empty-text {
    @include empty-text;
    font-style: italic;
  }
}
