<div *ngIf="event">
  <div>
    <p>{{ event.Date | date : "d MMM yyyy" }} - {{ event.Name }}</p>
  </div>
  <div>
    <p>
      <span *ngIf="event.Description"
        >{{ event.Description }}
      </span>
      <span *ngIf="event.Location.Name">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        {{ event.Location.Name }}
      </span>
      <span *ngIf="event.Time">
        <fa-icon [icon]="faClock"></fa-icon>
        {{ event.Time }}
      </span>
      <span *ngIf="event.Website">
        <fa-icon [icon]="faEarthEurope"></fa-icon>
        <a-outgoing [href]="event.Website">More info here</a-outgoing>
      </span>
    </p>
  </div>
</div>
