<div
  *ngIf="event"
  class="p-4 flex flex-col md:flex-row gap-4 {{ bgColor }} {{ textColor }}"
>
  <div
    class="flex text-xl p-4 border-solid border-b-2 md:border-b-0 md:border-r-2 md:w-1/6
    {{ bgColor }}"
  >
    <div class="place-self-center text-center">
      {{ event.Date | date : "dd MMM yyyy" }}
    </div>
  </div>
  <div>
    <div class="text-2xl font-bold">{{ event.Name }}</div>
    <div class="text-sm" *ngIf="event.Description">{{ event.Description }}</div>
    <div class="text-sm" *ngIf="event.Location.Name">
      <fa-icon [icon]="faLocationDot"></fa-icon>
      <span>&nbsp;{{ event.Location.Name }}</span>
    </div>
    <div class="text-sm" *ngIf="event.Time">
      <fa-icon [icon]="faClock"></fa-icon>
      <span>&nbsp;{{ event.Time }}</span>
    </div>
    <div class="text-sm" *ngIf="event.Website">
      <fa-icon [icon]="faEarthEurope"></fa-icon>
      <span>
        <a-outgoing [textColor]="textColor" [href]="event.Website">
          More info here
        </a-outgoing>
      </span>
    </div>
  </div>
</div>
