<div>
  <div>
    <p>Get In Touch</p>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/', 'contact']">
          <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <p>Extra links</p>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/', 'friends']">Friends</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/', 'privacy']">Privacy</a>
      </li>
    </ul>
  </div>
</div>
<p>
  Copyright © {{ currentYear | date : "yyyy" }} Amanda's Emporium
</p>
