---
layout: page
permalink: /bears/map/
---
<div class="row">
    <div class="col-md-10 col-md-offset-1 bears-map">
        <p>Click on a bears face to see see who has been rehomed where!</p>
        <div id="map" style="width: 100%;height: 500px;"></div>
        <div class="map-controls">
            <div class="control-rehomed">
                <input type="checkbox" name="rehomed" value="rehomed" id="cbRehomed" onclick="CheckedRehomed()" checked><label for="cbRehomed"> Show Rehomed</label>
            </div>
            <div class="control-rescued">
                <input type="checkbox" name="rescued" value="rescued" id="cbRescued" onclick="CheckedRescued()"><label for="cbRescued"> Show Rescued</label>
            </div>
        </div>
        <div id="bears-map" style="display: none;">
            <h3 id="location-name" style="text-align: center;"></h3>
            <hr>
            <div class="rehomed-bears">
                <h3 style="text-align: center;">Rehomed</h3>
                {% for bear in site.bears %}
                {% assign display = "none" %}
                {% if bear.rehomed.name %}
                {% include bear.html %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="rescued-bears">
                <h3 style="text-align: center;">Rescued</h3>
                {% for bear in site.bears %}
                {% assign display = "none" %}
                {% if bear.rescued.name %}
                {% include bear.html %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
        var bears = GetBears();
        var rehomedMarkerIcons = GetRehomedMarkerIcons();
        var rescuedMarkerIcons = GetRescuedMarkerIcons();

    function initMap() {
        var center = { lat: 51.339285, lng: -0.746098 };
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 9, center: center });

        for (let i = 0; i < bears.length; i++) {
            const bear = bears[i];

            bear.Rehomed.Marker = CreateMarker(map, bear.Rehomed, rehomedMarkerIcons[i % rehomedMarkerIcons.length], true);
            bear.Rescued.Marker = CreateMarker(map, bear.Rescued, rescuedMarkerIcons[i % rescuedMarkerIcons.length], false);

            
            (function (data, bears) {
                google.maps.event.addListener(data.Marker, 'click', function () {
                    ShowBears(bears, data.Coords);
                });
            })(bear.Rehomed, bears);

            (function (data, bears) {
                google.maps.event.addListener(data.Marker, 'click', function () {
                    ShowBears(bears, data.Coords);
                });
            })(bear.Rescued, bears);
        }

        console.log(bears);
    }

    function CheckedRehomed(){
        var checkbox = document.getElementById('cbRehomed');

        for (let i = 0; i < bears.length; i++) {
            const bear = bears[i];
            bear.Rehomed.Marker.setVisible(checkbox.checked);
        }
    }

    function CheckedRescued(){
        var checkbox = document.getElementById('cbRescued');

        for (let i = 0; i < bears.length; i++) {
            const bear = bears[i];
            bear.Rescued.Marker.setVisible(checkbox.checked);
        }
    }

    function ShowBears(bears, coords){
        var bearMap = $("#bears-map");
        var location = $("#location-name");
        var locationName = "";

        var bearsRehomed = false;
        var bearsRescued = false;

        for (let i = 0; i < bears.length; i++) {
            const bear = bears[i];

            var rehomedBear = $(".rehomed-bears .bear-"+ bear.Name);            
            if (bear.Rehomed.Coords.lat == coords.lat && bear.Rehomed.Coords.lng == coords.lng) {
                rehomedBear.show();
                locationName = bear.Rehomed.Location;
                bearsRehomed = true;
            } else {
                rehomedBear.hide();
            }

            var rescuedBear = $(".rescued-bears .bear-"+ bear.Name);            
            if (bear.Rescued.Coords.lat == coords.lat && bear.Rescued.Coords.lng == coords.lng) {
                rescuedBear.show();
                locationName = bear.Rescued.Location;
                bearsRescued = true;
            } else {
                rescuedBear.hide();
            }
            
        }

        if(bearsRehomed && $('#cbRehomed').is(':checked')){
            $("#bears-map > .rehomed-bears").show();
        }else{
            $("#bears-map > .rehomed-bears").hide();
        }

        if(bearsRescued && $('#cbRescued').is(':checked')){
            $("#bears-map > .rescued-bears").show();
        }else{
            $("#bears-map > .rescued-bears").hide();
        }

        if(bearsRehomed || bearsRescued){
            bearMap.show();
            location.text(locationName);
        } else {
            bearMap.hide();
            location.text("");
        }
    }

    function CreateMarker(map, data, icon, visible){
        return new google.maps.Marker({
                position: data.Coords,
                map: map,
                title: data.Location,
                icon: icon,
                visible: visible
            });
    }

    function GetBears(){
        var bears = [{% for bear in site.bears %}{% if bear.rehomed.name %}
            {
                Name: "{{ bear.name }}",
                Url: "/assets/imgs/bears/{{ bear.image }}",
                Rehomed: {
                    Location: "{{bear.rehomed.name}}",
                    Date: "{{ bear.rehomed.date | date:'%e %b %Y' }}",
                    Coords: {
                        lng: {{bear.rehomed.location.lng}},
                        lat: {{bear.rehomed.location.lat}}
                    },
                    Marker: null
                },
                Rescued: {
                    Location: "{{bear.rescued.name}}",
                    Date: "{{ bear.rescued.date | date:'%e %b %Y' }}",
                    Coords: {
                        lng: {{bear.rescued.location.lng}},
                        lat: {{bear.rescued.location.lat}}
                    },
                    Marker: null
                }
            },{% endif %}{% endfor %}
        ];

        return bears;
    }

    function GetRehomedMarkerIcons() {
        return [
            "/assets/imgs/map-markers/rehomed (1).png",
            "/assets/imgs/map-markers/rehomed (2).png",
            "/assets/imgs/map-markers/rehomed (3).png",
            "/assets/imgs/map-markers/rehomed (4).png",
            "/assets/imgs/map-markers/rehomed (5).png",
            "/assets/imgs/map-markers/rehomed (6).png",
            "/assets/imgs/map-markers/rehomed (7).png",
            "/assets/imgs/map-markers/rehomed (8).png",
            "/assets/imgs/map-markers/rehomed (9).png",
            "/assets/imgs/map-markers/rehomed (10).png",
        ];
    }

    function GetRescuedMarkerIcons() {
        return [
            "/assets/imgs/map-markers/rescued (1).png",
            "/assets/imgs/map-markers/rescued (2).png",
            "/assets/imgs/map-markers/rescued (3).png",
            "/assets/imgs/map-markers/rescued (4).png",
            "/assets/imgs/map-markers/rescued (5).png",
            "/assets/imgs/map-markers/rescued (6).png",
            "/assets/imgs/map-markers/rescued (7).png",
            "/assets/imgs/map-markers/rescued (8).png",
            "/assets/imgs/map-markers/rescued (9).png",
            "/assets/imgs/map-markers/rescued (10).png",
        ];
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOst36ekmvacZC7gq0pMN5LzhlszAA0rw&callback=initMap">
    </script>