---
layout: page
permalink: /events/
---

<div class="row">
        <p class="h4 text-center">Wishing you all a Merry Christmas</p>
        <p class="text-center"> See you in the new year</p>
    <div class="col-md-10 col-md-offset-1 events">
        {% assign today = "now" | date: '%s'  %}
        {% for events in site.data.events %}
            {% assign e = events[1] %}
            {% assign eventDate = e.date | date: '%s'  %}
            {% if today < eventDate %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default  panel--styled">
                        <div class="panel-body">
                            <div class="col-md-12 panelTop">
                                <div class="col-md-12">
                                    <p class="h4 text-center">{{ e.date | date:'%e %b %Y' }} - {{ e.name}}</p>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <p class="description text-center">
                                        {% if e.description %}
                                            <span class="desc">{{ e.description }}</br>
                                            </span>
                                        {% endif %}
                                        {% if e.location %}
                                            <span class="location">
                                                <i class="fa fa-map-marker pink" aria-hidden="true"></i>{{ e.location }}</br>
                                            </span>
                                        {% endif %}
                                        {% if e.time %}
                                            <span class="time">
                                                <i class="fa fa-clock-o pink" aria-hidden="true"></i>
                                                {{ e.time }}
                                            </span>
                                        {% endif %}
                                        {% if e.url %}
                                            <span class="url">
                                                <i class="fa fa-globe pink" aria-hidden="true"></i>
                                                <a href="{{ e.url }}">More info here</a>
                                                </br>
                                            </span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
