---
layout: page
permalink: /events/
---

<div class="row">
    <div class="col-md-10 col-md-offset-1 events">
        {% assign today = "now" | date: '%s'  %}
        {% assign sorted = site.events | sort:'date' %}
        {% for event in sorted %}
            {% assign eventDate = event.date | date: '%s'  %}
            {% if today < eventDate %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default  panel--styled">
                        <div class="panel-body">
                            <div class="col-md-12 panelTop">
                                <div class="col-md-12">
                                    <p class="h4 text-center">{{ event.date | date:'%e %b %Y' }} - {{ event.name}}</p>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <p class="description text-center">
                                        {% if event.description %}
                                            <span class="desc">{{ event.description }}</br>
                                            </span>
                                        {% endif %}
                                        {% if event.location %}
                                            <span class="location">
                                                <i class="fa fa-map-marker pink" aria-hidden="true"></i>{{ event.location }}</br>
                                            </span>
                                        {% endif %}
                                        {% if event.time %}
                                            <span class="time">
                                                <i class="fa fa-clock-o pink" aria-hidden="true"></i>
                                                {{ event.time }}
                                            </span>
                                        {% endif %}
                                        {% if event.website %}
                                            <span class="url">
                                                <i class="fa fa-globe pink" aria-hidden="true"></i>
                                                <a href="{{ event.website }}">More info here</a>
                                                </br>
                                            </span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
