---
layout: page
permalink: /gallery/
---
<div class="row gallery">
    <div class="col-md-10 col-md-offset-1">

            <p class="gallery-more">
                    Visit my <a href="https://www.facebook.com/pg/Justforyouatamandasemporium/photos/">Facebook page</a>, for more photos.
                </p>

        <div align="center" class="filters">
            <button class="btn btn-primary-dark filter-button" data-filter="all">All</button>
            {% for c in site.data.gallery.categories %}
            <button class="btn btn-primary filter-button" data-filter="{{c.id}}">{{c.name}}</button>
            {% endfor %}
            <div>
                    <small>Use the buttons to filter on a category</small>
                    <small>Click on an image for a larger version</small>
            </div>            
        </div>

        <div class="images row">
            {% for images in site.data.gallery.images %}
            {% assign i = images[1] %}
            {% if i.orientation == "landscape" %}
            <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter {{i.filter}}">
                <a href="/assets/imgs/gallery/full/{{i.image}}">
                    <img src="/assets/imgs/gallery/thumb/{{i.image}}" class="img-responsive">
                </a>
                <div class="caption">&nbsp;{{i.caption}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="images row">
            {% for images in site.data.gallery.images %}
            {% assign i = images[1] %}
            {% if i.orientation == "portrait" %}
            <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter {{i.filter}}">
                <a href="/assets/imgs/gallery/full/{{i.image}}">
                    <img src="/assets/imgs/gallery/thumb/{{i.image}}" class="img-responsive">
                </a>
                <div class="caption">{{i.caption}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".filter-button").click(function () {
            var value = $(this).attr('data-filter');

            if (value == "all") {
                $('.filter').show('1000');
            } else {
                $(".filter").not('.' + value).hide('3000');
                $('.filter').filter('.' + value).show('3000');

            }
        });

        if ($(".filter-button").removeClass("active")) {
            $(this).removeClass("active");
        }
        $(this).addClass("active");
    });

</script>