<p>
  All my creations are hand made with love, and below you will see some of the
  products that I can produce, and I hope that they will give you some ideas for
  that unique gift for the new arrival. There is no guarantee that I still have
  any of these in stock or even the materials that I have used to make them but
  I will always be able to make you something similar so please
  <a [routerLink]="['/', 'contact']">contact me</a> to chat about anything you
  may like me to produce for you.
</p>
<div *ngFor="let product of visibleProducts$ | async; even as isEven">
  <app-product-tile
    [product]="product"
    [bgColor]="isEven ? 'bg-gray-lighter' : 'bg-lightest'"
    [textColor]="isEven ? 'text-gray-dark' : 'text-black'"
    [borderColor]="isEven ? 'border-gray-dark' : 'border-black'"
  ></app-product-tile>
</div>
