<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default  panel--styled">
                    <div class="panel-body">
                        <div class="col-md-12 panelTop">
                            <div class="col-md-12">
                                <p class="h4 text-center">Everybody Wants 1</p>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <p class="description text-center">
                                    My lovely friends Sue and Mark produce wonderful handcrafted film and music
                                    memorabilia. I have been trading along side them for nearly 10 years. They are fun
                                    to be around and there craft stall is well worth a visit.
                                    <br>
                                    <fa-icon [icon]="faEarthEurope" [className]="'pink'"></fa-icon>
                                    <a href="http://ew1.co.uk/" target="_blank">Visit their website</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>