---
import EventCard from '@/components/events/event-card.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  events: CollectionEntry<'events'>[];
  showCalendarButtons?: boolean;
  emptyMessage?: string;
}

const {
  events,
  showCalendarButtons = false,
  emptyMessage = 'Nothing to show here just now.',
} = Astro.props;
---

{events.length > 0 ? (
  <ul class="event-list__grid" role="list">
    {events.map(event => (
      <li><EventCard event={event} showCalendarButton={showCalendarButtons} /></li>
    ))}
  </ul>
) : (
  <div class="event-list__empty">
    <p class="event-list__empty-text">{emptyMessage}</p>
  </div>
)}
