<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="panel panel-default  panel--styled">
        <div class="panel-body">
            <img class="img-responsive" src="/assets/imgs/bears/{{ b.image }}" alt="Photo of {{ b.name }}" />
            <p class="h4 text-center">{{ b.name }}</p>
            <div class="info">
                    <dl class="dl-horizontal">
                        {% if b.rescued %}
                            <dt>Rescued</dt>
                            <dd>{{ b.rescued }} ({{ b.rescued-date | date:'%e %b %Y' }})</dd>
                        {% endif %}
                        {% if b.type %}
                            <dt>Origin</dt>
                            <dd>{{ b.type }}</dd>
                        {% endif %}
                    </dl>
                    <div class="rehomed text-center">
                        {% if b.rehomed %}
                        <span style="color: #01ad82;">
                                {{ b.name }} was rehomed on <b>{{ b.rehomed-date | date:'%e %b %Y' }}</b> and now lives in <b>{{ b.rehomed }}</b>.
                        </span>                            
                        {% else %}
                                <span style="color: #f90240">Waiting to be rehomed.</span>                            
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>