<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ data.description }}">
<meta name="keywords" content="amandasemporium, amandas, emporium,  {{ data.keywords }}">
<link rel="shortcut icon" href="/assets/imgs/favicon.ico" type="image/x-icon">

<title>{{ data.title }} - Amanda's Emporium</title>

<link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/assets/css/custom.css">

<link href="https://fonts.googleapis.com/css?family=Mystery+Quest|Open+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>