<nav class="navbar navbar-default navbar-top">
    <h1 class="text-center navbar-heading">Amanda's Emporium
        <small>dedicated crafters make everything by hand</small>
    </h1>
</nav>
<nav class="navbar navbar-default navbar-bottom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbarPages-container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarPages" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-left hidden-xs">
                {% include nextevent.html %}
        </ul>
        <div class="collapse navbar-collapse" id="navbarPages">
            <ul class="nav navbar-nav navbar-right">
                {% for p in site.data.nav.top %}
                        <li class="{% if p.file == page.name %}active{% endif %}">
                            <a href="/{{p.link}}" target="">{{ p.name}}</a>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>