{% assign today = "now" | date: '%s'  %}
{% assign nextDate = "" %}

{% for event in site.events %}
    {% if nextDate == "" %}
        {% assign eventDate = event.date | date: '%s'  %}
        {% if today < eventDate %}
            {% assign nextDate = event.date %}
        {% endif %}
    {% endif %}
{% endfor %}


<li class="nextevent">
    <div href="#">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span>Next event:</span>
        <span class="nextevent-date">{{ nextDate | date:'%e %b %Y' }}</span>
    </div>
</li>