---
import PageLayout from "@/layouts/page.layout.astro";
import { Image } from "astro:assets";
import daisy from "@/images/daisy.jpg";
import Separator from "@/components/ui/separator.astro";
---

<PageLayout
    title="My Little bears"
    heading="My Little bears"
    subText="... were once lonely teddy bears waiting for a forever home and a new adventure, each one with a unique story and charm. They've been patiently hoping for someone to love, a warm hug and the chance to be part of a family. These bears, once forgotten, are ready to bring comfort, joy and companionship to anyone who welcomes them. All they need is a caring heart to give them a second chance at a life filled with love and adventure."
/>

<div
    class="container mx-auto flex flex-wrap lg:flex-row flex-col justify-center items-center"
>
    <h2
        class="order-1 w-full text-center text-4xl font-serif capitalize font-bold mb-6 underline-offset-4 decoration-wavy underline decoration-2 decoration-mandy-500"
    >
        Meet Daisy
    </h2>
    <div class="order-3 lg:order-2 px-4 lg:w-1/2 mt-6">
        <p class="text-lg mb-2">
            Courtesy of my 3 grown up sons, who took me to a Build-a-Bear
            Workshop for Mothers Day.
        </p>
        <p class="text-lg">
            I became the proud owner of Daisy. She has been on a number of
            adventures around the country with my husband and I already. My
            friends (who think I'm ever so slightly potty) can't wait for the
            latest photos and updates.
        </p>
    </div>
    <div class="order-2 lg:order-3 px-4 lg:w-1/2 flex justify-center">
        <Image
            class="rounded"
            src={daisy}
            alt="a picture of my rabbit teddy Daisy"
        />
    </div>
</div>

<Separator />

<div
    class="container mx-auto flex flex-wrap lg:flex-row flex-col justify-center items-center gap-4 mb-4"
>
    <p class="order-1 w-full text-center text-lg mb-2">
        Now you have meet Daisy, take a look at all the other bears I have
        rescued
    </p>
    <div class="order-2 text-xl bg-mandy-100 p-4">Awaiting a forever home</div>
    <div class="order-2 text-xl bg-mandy-100 p-4">Found their forever home</div>
    <div class="order-2 text-xl bg-mandy-100 p-4">
        All the bears I have cared for
    </div>
</div>
