<div>
  <a [routerLink]="['/', 'admin', 'create-bear']" class="button">Bear</a>
  <a [routerLink]="['/', 'admin', 'create-bear-brand']" class="button">Bear Brand</a>
  <a [routerLink]="['/', 'admin', 'create-bear-species']" class="button">Bear Species</a>
  <a [routerLink]="['/', 'admin', 'create-event']" class="button">Event</a>
  <a [routerLink]="['/', 'admin', 'create-location']" class="button">Location</a>
  <a [routerLink]="['/', 'admin', 'create-product']" class="button">Product</a>
</div>

<router-outlet></router-outlet>
