<splash-screen [animationType]="SplashAnimationType.FadeOut" [duration]="0.5" [animationDuration]="0.75"></splash-screen>
<div class="container">
    <div class="navbar-container">
        <app-navigation></app-navigation>
    </div>
    <h2 class="text-center" id="ribbon">
        <div id="content">{{title}}</div>
    </h2>
    <div class="featureimage-container">
        <img class="featureimage" src="/assets/images/feature.jpg"/>
    </div>

    <div class="mainContent-container">
        <div class="mainContent">	  
            <hr>
            <router-outlet></router-outlet>
        </div>
        

        <div class="footerContent">
            <app-footer></app-footer>
        </div>
    </div>
</div>