<div class="row">
  <div class="col-md-10 col-md-offset-1 bears">
    <div class="bio">
      <p class="description">
        Courtesy of my 3 grown up sons, who took me to a Build-a-Bear Workshop
        for Mothers Day. I became the proud owner of Daisy.
      </p>
      <img
        class="img-responsive"
        width="400"
        height="514"
        ngSrc="/assets/images/daisy.jpg"
        alt="Photo of Daisy"
      />
      <p class="description">
        She has been on a number of adventures around the country with my
        husband and I already. My friends (who think I'm ever so slightly potty)
        can't wait for the latest photos and updates.
      </p>
      <p class="description">
        It was on one of our trips that I realised there were many lonely teddy
        bears waiting for their forever home and big adventure. All my rescued
        bears have been lovingly washed, groomed and dressed.
      </p>
      <p class="description">And so my quest begins...</p>
      <p class="description">
        It would be lovely to see my rescued bears in their new home. Please
        feel free to email me a photo, along with permission, to use on my
        gallery page!
      </p>
      <hr />
      <p class="description">
        My bears have been rescued and rehomed all over the UK (some even
        rehomed abroad)!
      </p>
      <p class="description">
        To see an interactive map of all the bears, please
        <a [routerLink]="['/', 'bears', 'map']">click here</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <app-a-to-z-pagination (letterClicked)="onLetterClicked($event)"></app-a-to-z-pagination>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div
      class="col-xs-12 col-sm-6 col-md-4 bear"
      *ngFor="let bear of rescuedBears$ | async"
    >
      <app-bear-tile [bear]="bear"></app-bear-tile>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <hr />
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div
      class="col-xs-12 col-sm-6 col-md-4 bear"
      *ngFor="let bear of rehomedBears$ | async"
    >
      <app-bear-tile [bear]="bear"></app-bear-tile>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 bears">
    <hr />
    <p class="description text-center">
      Since my quest began, I have cared for <b>{{ countOfBears$ | async }}</b>
      bears and
      <b>{{ countOfRehomedBears$ | async }}</b>
      of them have found their forever homes.
    </p>
  </div>
</div>
