<div
  *ngIf="{
    bears: bears$ | async,
    availableLetters: availableLetters$ | async
  } as state"
>
  <app-a-to-z-pagination
    [availableLetters]="state.availableLetters"
    (letterClicked)="onLetterClicked($event)"
  ></app-a-to-z-pagination>

  <div *ngIf="state.bears && state.bears.length > 0; else noBears">
    <div class="flex flex-wrap justify-center">
      <app-bear-tile class="w-full sm:w-1/2 lg:w-1/3"
        *ngFor="let bear of state.bears"
        [bear]="bear"
      ></app-bear-tile>
    </div>
  </div>
  <ng-template #noBears> No Bears </ng-template>
</div>
