<div class="row">
  <div
    class="col-md-10 col-md-offset-1 bears-map"
    *ngIf="{
      rescuedMarkers: rescuedMarkers$ | async,
      rehomedMarkers: rehomedMarkers$ | async,
      visibleBears: visibleBears$ | async,
      selectedMarker: selectedMarker$ | async
    } as state"
  >
    <p>Click on a bears face to see see who has been rehomed where!</p>
    <div *ngIf="scriptLoaded$ | async">
      <google-map
        width="100%"
        style="width: 100%; height: 500px"
        [options]="options"
      >
        <ng-container *ngIf="showRescued">
          <map-marker
            *ngFor="let marker of state.rescuedMarkers; let i = index"
            [position]="marker"
            [options]="rescuedOptions(i)"
            (mapClick)="onMarkerClick(marker)"
          ></map-marker>
        </ng-container>

        <ng-container *ngIf="showRehomed">
          <map-marker
            *ngFor="let marker of state.rehomedMarkers; let i = index"
            [position]="marker"
            [options]="rehomedOptions(i)"
            (mapClick)="onMarkerClick(marker)"
          ></map-marker>
        </ng-container>
      </google-map>
    </div>
    <div class="map-controls">
      <div class="control-rehomed">
        <input
          type="checkbox"
          name="rehomed"
          id="cbRehomed"
          [checked]="showRehomed"
          (change)="toggleRehomed()"
          checked
        /><label for="cbRehomed"> Show Rehomed</label>
      </div>
      <div class="control-rescued">
        <input
          type="checkbox"
          name="rescued"
          id="cbRescued"
          [checked]="showRescued"
          (change)="toggleRescued()"
        /><label for="cbRescued"> Show Rescued</label>
      </div>
    </div>
    <div id="bears-map" *ngIf="state.selectedMarker">
      <h3 id="location-name" style="text-align: center">{{state.selectedMarker.name}}</h3>
      <hr />
      <div class="bears">
        <div class="col-md-10 col-md-offset-1">
          <div
            class="col-xs-12 col-sm-6 col-md-4 bear"
            *ngFor="let bear of state.visibleBears"
          >
            <app-bear-tile [bear]="bear"></app-bear-tile>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
