---
import { cn } from "@/libs/class-name";

interface Props {
    alphabet: string[];
    url: string;
    letter?: string;
}

const { alphabet, url, letter }: Props = Astro.props;
---

<ul class="flex gap-2 flex-wrap items-center justify-center">
    {
        alphabet.map((l) => (
            <li
                class={cn("rounded bg-mandy-50 hover:bg-mandy-300", {
                    "font-bold bg-mandy-200":
                        letter && l.toLowerCase() == letter.toLowerCase(),
                })}
            >
                <a
                    class="block py-2 px-4 aspect-square font-mono"
                    href={url + l}
                >
                    {l.toUpperCase()}
                </a>
            </li>
        ))
    }
</ul>
