.app-splash-screen {
  background: url("/assets/images/greyfloral.png");
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  overflow: hidden;
}

.app-label {
  font-size: 56px;
  font-family: "Mystery Quest", cursive;
  text-align: center;
  color: #fe86a4;
  line-height: 1.1;
  margin-top: 1px;
}

.app-splash-inner {
    margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
