---
import { cn } from "@/libs/class-name";

interface Props {
    className?: string;
}

const { className }: Props = Astro.props;
---

<h2
    class={cn(
        "text-4xl font-serif capitalize font-bold underline-offset-4 decoration-wavy underline decoration-2 decoration-mandy-500",
        className,
    )}
>
    <slot />
</h2>
