<nav>
  <h1>
    Amanda's Emporium
    <small>dedicated crafters make everything by hand</small>
  </h1>
</nav>
<nav>
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div>
      <button
        type="button"
       
        data-toggle="collapse"
        data-target="#navbarPages"
        aria-expanded="false"
      >
        <span>Toggle navigation</span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <ul app-next-event [event]="nextEvent$ | async"></ul>
    <div>
      <ul>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/']">Home</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/', 'events']">Events</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/', 'products']">Products</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/', 'bears']">Bears</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/', 'gallery']">Gallery</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/', 'contact']">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
