<div class="flex flex-col-reverse md:flex-row justify-between gap-4">
  <div class="w-full md:w-2/3">
    <p>
      Courtesy of my 3 grown up sons, who took me to a Build-a-Bear Workshop for
      Mothers Day. I became the proud owner of Daisy.
    </p>
    <p>
      She has been on a number of adventures around the country with my husband
      and I already. My friends (who think I'm ever so slightly potty) can't
      wait for the latest photos and updates.
    </p>
    <p>
      It was on one of our trips that I realised there were many lonely teddy
      bears waiting for their forever home and big adventure. All my rescued
      bears have been lovingly washed, groomed and dressed.
    </p>
    <p>And so my quest begins...</p>
    <p>
      It would be lovely to see my rescued bears in their new home. Please feel
      free to email me a photo, along with permission, to use on my gallery
      page!
    </p>
    <p>
      My bears have been rescued and rehomed all over the UK (some even rehomed
      abroad)!
    </p>
  </div>
  <div>
    <img
      width="400"
      height="514"
      ngSrc="/assets/images/daisy.jpg"
      alt="Photo of Daisy"
    />
  </div>
</div>
