<div class="wrapper">
    <ul class="pagination top">
        <li [class.active]="selectedLetter == 'A'">
          <span (click)="onClick('A')">A</span>
        </li>
        <li [class.active]="selectedLetter == 'B'">
          <span (click)="onClick('B')">B</span>
        </li>
        <li [class.active]="selectedLetter == 'C'">
          <span (click)="onClick('C')">C</span>
        </li>
        <li [class.active]="selectedLetter == 'D'">
          <span (click)="onClick('D')">D</span>
        </li>
        <li [class.active]="selectedLetter == 'E'">
          <span (click)="onClick('E')">E</span>
        </li>
        <li [class.active]="selectedLetter == 'F'">
          <span (click)="onClick('F')">F</span>
        </li>
        <li [class.active]="selectedLetter == 'G'">
          <span (click)="onClick('G')">G</span>
        </li>
        <li [class.active]="selectedLetter == 'H'">
          <span (click)="onClick('H')">H</span>
        </li>
        <li [class.active]="selectedLetter == 'I'">
          <span (click)="onClick('I')">I</span>
        </li>
        <li [class.active]="selectedLetter == 'J'">
          <span (click)="onClick('J')">J</span>
        </li>
        <li [class.active]="selectedLetter == 'K'">
          <span (click)="onClick('K')">K</span>
        </li>
        <li [class.active]="selectedLetter == 'L'">
          <span (click)="onClick('L')">L</span>
        </li>
        <li [class.active]="selectedLetter == 'M'">
          <span (click)="onClick('M')">M</span>
        </li>
      </ul>
      <ul class="pagination middle">
        <li [class.active]="selectedLetter == 'N'">
          <span (click)="onClick('N')">N</span>
        </li>
        <li [class.active]="selectedLetter == 'O'">
          <span (click)="onClick('O')">O</span>
        </li>
        <li [class.active]="selectedLetter == 'P'">
          <span (click)="onClick('P')">P</span>
        </li>
        <li [class.active]="selectedLetter == 'Q'">
          <span (click)="onClick('Q')">Q</span>
        </li>
        <li [class.active]="selectedLetter == 'R'">
          <span (click)="onClick('R')">R</span>
        </li>
        <li [class.active]="selectedLetter == 'S'">
          <span (click)="onClick('S')">S</span>
        </li>
        <li [class.active]="selectedLetter == 'T'">
          <span (click)="onClick('T')">T</span>
        </li>
        <li [class.active]="selectedLetter == 'U'">
          <span (click)="onClick('U')">U</span>
        </li>
        <li [class.active]="selectedLetter == 'V'">
          <span (click)="onClick('V')">V</span>
        </li>
        <li [class.active]="selectedLetter == 'W'">
          <span (click)="onClick('W')">W</span>
        </li>
        <li [class.active]="selectedLetter == 'X'">
          <span (click)="onClick('X')">X</span>
        </li>
        <li [class.active]="selectedLetter == 'Y'">
          <span (click)="onClick('Y')">Y</span>
        </li>
        <li [class.active]="selectedLetter == 'Z'">
          <span (click)="onClick('Z')">Z</span>
        </li>
      </ul>
      <ul class="pagination bottom">
        <li [class.active]="selectedLetter == null">
            <span (click)="onClear()">All</span>
          </li>
      </ul>
</div>