---
import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE } from "@/libs/consts";
import PawPrints from "@/components/ui/paw-prints.astro";

import "@fontsource-variable/open-sans";
import "@fontsource-variable/bitter";
import "@/styles/global.css";

interface Props {
    title: string;
}

const { title }: Props = Astro.props;

const rescuedBears = await getCollection("bears", ({ data }) => {
    return data.status == "rescued";
});

const bearSlugs = rescuedBears.map((b) => b.slug.toString());
---

<html transition:animate="none" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | {SITE_TITLE}</title>
        <ViewTransitions />
    </head>
    <body>
        <PawPrints bears={bearSlugs} />
        <slot />
    </body>
</html>
