---
import BaseLayout from "@/layouts/base.layout.astro";
import Navbar from "@/components/layout/navbar.astro";

interface Props {
    title: string;
}

const { title }: Props = Astro.props;

const url = Astro.url.pathname;
---

<BaseLayout title={title}>
    <div class="bg-white">
        <Navbar url={url} />
    </div>

    <slot />
</BaseLayout>
