<div *ngIf="bear">
  <img
    src="/assets/images/bears/{{ bear.Id }}.jpg"
    loading="lazy"
    alt="Photo of {{ bear.Name }}"
  />
  <p>{{ bear.Name }}</p>
  <div>
    <dl>
      <dt *ngIf="bear.Rescued">Rescued</dt>
      <dd *ngIf="bear.Rescued">
        <div>{{ bear.Rescued.Location.Name }}</div>
        <div>({{ bear.Rescued.Date | date : "d MMM yyyy" }})</div>
      </dd>
      <dt>Origin</dt>
      <dd>{{ bear.Type }}</dd>
    </dl>
    <div>
      <ng-container *ngIf="bear.Rehomed; else waiting">
        <span>
          {{ bear.Name }} was rehomed on
          <b>{{ bear.Rehomed.Date | date : "dd MMM yyyy" }}</b> and now lives in
          <b>{{ bear.Rehomed.Location.Name }}</b
          >.
        </span>
      </ng-container>

      <ng-template #waiting>
        <span>Waiting to be rehomed.</span>
      </ng-template>
    </div>
  </div>
</div>
