---
import { cn } from "@/libs/class-name";
import { PawPrint } from "lucide-react";

interface Props {
    heading: string;
    subText?: string | undefined;
}

const { heading, subText }: Props = Astro.props;
---

<div
    class={cn("container mx-auto pt-12 md:pt-16 lg:pt-32 text-center", {
        "pb-12 md:pb-16 lg:pb-32": subText == undefined,
    })}
>
    <h1 class="text-5xl font-serif capitalize font-bold">
        <div class="relative inline-block">
            <div class="relative p-2 z-10">
                {heading}
            </div>
            <div
                class={cn(
                    "bg-mandy-200 block h-full w-full absolute top-0 z-0 mx-auto left-0 right-0",
                    Math.random() < 0.5 ? "skew-y-2" : "-skew-y-2",
                )}
            >
            </div>
        </div>
    </h1>
    {
        subText && (
            <p class="mx-auto mt-4 mb-4 px-4 md:w-3/4 lg:w-2/4 text-lg">
                {subText}
            </p>
        )
    }
</div>
