---
import { Image } from "astro:assets";
import Logo from "@/images/logo.svg";
import { Menu } from "lucide-react";
import { cn } from "@/libs/class-name";

interface Props {
    url: string;
}

const { url }: Props = Astro.props;

interface Link {
    href: string;
    label: string;
}

const links: Link[] = [
    {
        href: "/bears",
        label: "My Little Bears",
    },
    {
        href: "/events",
        label: "Where to Find Me",
    },
    {
        href: "/products",
        label: "Things I Sell",
    },
    {
        href: "/contact",
        label: "Get In Touch",
    },
];
---

<nav-bar>
    <div class="container mx-auto">
        <div
            class="py-2 flex flex-wrap items-center justify-center lg:justify-between gap-4"
        >
            <a
                class="px-4 flex-grow flex justify-center lg:justify-start"
                href="/"
            >
                <Image src={Logo} alt="Amanda's Emporium logo" height={75} />
            </a>

            <ul
                class="list-none flex flex-wrap items-center justify-center flex-row select-none"
            >
                {
                    links &&
                        links.map(({ label, href }) => (
                            <li>
                                <a
                                    href={href}
                                    class={cn(
                                        "block px-4 py-2 font-medium hover:text-mandy-500",
                                        {
                                            "transition-all duration-200 underline-offset-8 decoration-wavy underline decoration-2 decoration-mandy-500":
                                                url == href,
                                        },
                                    )}
                                >
                                    <span>{label}</span>
                                </a>
                            </li>
                        ))
                }
            </ul>
        </div>
    </div>
</nav-bar>
