---
import { PawPrint } from "lucide-react";
---

<div class="container mx-auto flex justify-center my-8 md:my-10 lg:my-16">
    <PawPrint width={32} className="stroke-none fill-mandy-50 mt-6" />
    <PawPrint width={32} className="stroke-none fill-mandy-100 mt-2" />
    <PawPrint width={32} className="stroke-none fill-mandy-200 " />
    <PawPrint width={32} className="stroke-none fill-mandy-300  mt-2" />
    <PawPrint width={32} className="stroke-none fill-mandy-300 " />
</div>
